.custom-shadow {
  box-shadow: inset 0px 4px 0px rgba(255, 255, 255, 1),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}
.custom-circle {
  width: 60px;
  height: 60px;
  background-color: #fefefe;
  border-radius: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
table {
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  border: none;
  padding: 6px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #b6b6b6; /* Chỉ có đường kẻ ngang */
}

tr:last-child {
  border-bottom: none; /* Bỏ đường kẻ ngang của hàng cuối cùng */
}
.trInfor td {
  color: #7c7c7c;
}
